.carousel-item {
  height: 50vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blogposts {

}

.wappen {
  transform: rotate(-10deg);
}

h1 {
  color: black;
}
